<h1>ARTICLES APP</h1>
<% @articles.each do |article| %>
<ul>
  <li>
    <%= link_to article.title, article_path(article) %>
  </li>
</ul>
<% end %>
<%= link_to "Create a new article", new_article_path %>
